.map-canvas {
  -moz-transition: 0.4s;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  height: 100%;
}

html, body {
height: 100%;
margin: 0;
padding: 0;
}

.infowindow {
	display: inline-table;
	max-width: 400px;
	max-height: 300px;
	width: 95%;
}

/*.infowindow .header-container {
	padding: 5px;
}

.infowindow h4 {
	float: right;
	padding: 10px;
	display: inline-block;
}

.infowindow img {
	display: inline-block;
}

.infowindow p {
	margin: 0px;
}
.results.list li {
	cursor: pointer;
}*/

.filter {
	padding-left: 10px;
}

.fa-2x {
	padding-left: 10px;
}

.input-row .btn-sm {
	margin: 15px;
}

@media (min-width: 768px) {
	.mobile-results-row {
	display: none;
	}
}
 

@media (max-width: 767px) {
	.infowindow {
		max-width: 
	}

	.mobile-results-list {
		max-height: 93%;
		overflow: scroll;
		}

	.selectpicker{
		margin-left: 5px;
	}
	.mobile-results-list .row {
		padding: 10px;
		border-bottom-color: lightgray;
	    border-bottom-style: solid;
	    border-bottom-width: 1px;
	}
}


@media (min-width: 768px) {
	#mobile-results-row {
		display: none;
	}
}

.form-control {
	margin: 5px;
}

