.map-canvas {
  -moz-transition: 0.4s;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  height: 100%;
}

html, body {
height: 100%;
margin: 0;
padding: 0;
}

.infowindow {
	display: inline-table;
	max-width: 400px;
	max-height: 300px;
	width: 95%;
	overflow-x: scroll;
}

.infowindow .header-container {
	padding: 5px;
}

.infowindow h4 {
	float: right;
	padding: 10px;
}

.results.list li {
	cursor: pointer;
}

.filter {
	padding-left: 10px;
}