.map-canvas {
  -moz-transition: 0.4s;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  height: 100%;
}

html, body {
height: 100%;
margin: 0;
padding: 0;
}

.infowindow {
	display: inline-table;
	max-width: 400px;
	max-height: 300px;
	width: 95%;
	overflow-x: scroll;
}

.infowindow .header-container {
	padding: 5px;
}

.infowindow h4 {
	float: right;
	padding: 10px;
}

.results.list li {
	cursor: pointer;
}

.filter {
	padding-left: 10px;
}

.fa-2x {
	padding-left: 10px;
}

.input-row .btn-sm {
	margin: 15px;
}

@media (max-width: 767px) {
	.infowindow {
		max-width: 
	}
}

@media (min-width: 768px) {
	#mobileResultsButton {
		display: none;
	}
}

.form-control {
	margin: 5px;
}

.mobile-items-list p, img, h6 {
	display: inline-flex;
}

.mobile-items-list .item {
	margin: 0px;
}

.mobile-items-list header {
	margin-left: 10px;
	margin-bottom: 5px;
}
.mobile-items-list {
    max-height: 400px;
    left: 10%;
    display: block;
    bottom: 0px;
    position: fixed;
    overflow: auto;
    right: 10%;
    background-color: rgb(250,250,250);
}